
<h1>Contrate-me</h1>
<p>Se você precisar de uma consultoria e implementação de projetos que envolvam acessoria na área da biologia, posso lhe ajudar nas seguintes áreas:</p>
<div  ng-repeat="(title,aptidao) in me.aptidoes">
  <span><span class="glyphicon glyphicon-{{aptidao.icon}}"></span> {{title}}</span>
  <span class='badge alert-success' data-toggle="tooltip" data-placement="bottom" title="{{aptidao.como_posso_ajudar}}" tooltip>
    <span class="glyphicon glyphicon-time"></span> R$ {{aptidao.preco || me.valor_hora_padrao }}</span>
</div>

<p class='alert-warning'>
  <span class="glyphicon glyphicon-info-sign" ></span>
  Você pode observar que meu modelo de trabalho visa facilitar a prestação de serviço sendo fragmentado por hora e tendo um valor justo perante cada tipo de causa. Se você optar por um número maior de horas, entre em contato pelo email <a href="mailto:{{me.contato.email}}"> {{me.contato.email}}</a> e posso oferecer um desconto para pacotes mensais ou com mais de 100 horas/mês.
</p>
