<div class="row marketing">
    <div  ng-repeat="(title,aptidao) in me.aptidoes">
      <h3><span class="glyphicon glyphicon-{{aptidao.icon}}"></span> {{title}}</h3>
      <div ng-if="aptidao.desc" class='well'>{{aptidao.desc}}</div>
      <blockquote ng-if="aptidao.reference" >
        <p>{{aptidao.reference.message}} </p>
        <i> {{aptidao.reference.source}}</i>
        <p ng-if="aptidao.reference.link">
          <a target="_blank" href="{{aptidao.reference.link.url}}">{{aptidao.reference.link.title}}</a>
        </p>
      </blockquote>
    </div>
</div>
